@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure actions</h1>
    <p>and this is the update</p>
    <p>and here is another one</p>
    <p>and yet another one</p>
    <p>this comes from dev</p>
    <p>this is from feature</p>
    
</div>
